*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.c1,.c2,.c3,.c4{
    background-color: black;
    color: beige;
    font-size: 2rem;
    padding: 20px;
    text-align: center;
    position: sticky;
    top: 0px;
}
p{
    font-size: 1.2rem;
    text-align: justify;
}